<section class="home-slider owl-carousel owl-loaded owl-drag">
  <div class="owl-stage-outer">
    <div class="owl-stage"
      style="transform: translate3d(-4557px, 0px, 0px); transition: all 0s ease 0s; width: 9116px;">
      <div class="owl-item cloned" style="width: 1519.2px;">
        <div class="slider-item"
          style="background-image: url(&quot;../../../assets/img/carousel/1.jpg&quot;); background-position: 50% -36.7px;"
          data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
              <div class="col-md-6 text ftco-animate pl-md-5 fadeInUp ftco-animated">
                <h1 class="mb-4">Si te lo podes imaginar<span>Lo podemos hacer</span></h1>
                <h3 class="subheading">Contamos con más de 20 años de experiencia y con los recursos para hacer el mejor
                  trabajo del mercado.</h3>
                <p><a href="index.php?seccion=contacto" class="btn btn-secondary px-4 py-3 mt-3">Solicite un
                    presupuesto</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-item cloned" style="width: 1519.2px;">
        <div class="slider-item"
          style="background-image: url(&quot;../../../assets/img/carousel/2.jpg&quot;); background-position: 50% -36.7px;"
          data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
              <div class="col-md-6 text ftco-animate pl-md-5 fadeInUp ftco-animated">
                <h1 class="mb-4">Convertimos tu sueño<span>En realidad</span></h1>
                <h3 class="subheading">Nuestro grupo de profesionales brinda el mejor asesoramiento para proyectos de
                  arquitectura, análisis de suelos, adminisitración y documentación de obras</h3>
                <p><a href="index.php?seccion=contacto" class="btn btn-secondary px-4 py-3 mt-3">Solicite un
                    presupuesto</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="owl-nav disabled">
    <button role="presentation" class="owl-prev">
      <span class="ion-md-arrow-back"></span>
    </button><button role="presentation" class="owl-next">
      <span class="ion-chevron-right"></span>
    </button>
  </div>
  <div class="owl-dots">
    <button class="owl-dot"><span></span></button>
    <button class="owl-dot active"><span></span></button>
  </div>
</section>