<section class="ftco-counter img" id="section-counter" style="background-image: url(images/bg_3.jpg);"
    data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 d-flex">
                    <div class="text d-flex align-items-center">
                        <strong class="number" data-number="21">0</strong>
                    </div>
                    <div class="text-2">
                        <span>Años de <br>Experiencia</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 d-flex">
                    <div class="text d-flex align-items-center">
                        <strong class="number" data-number="103">0</strong>
                    </div>
                    <div class="text-2">
                        <span>Proyectos <br>realizados</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 d-flex">
                    <div class="text d-flex align-items-center">
                        <strong class="number" data-number="65">0</strong>
                    </div>
                    <div class="text-2">
                        <span>Expertos y <br>Profesionales</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 d-flex">
                    <div class="text d-flex align-items-center">
                        <strong class="number" data-number="264">0</strong>
                    </div>
                    <div class="text-2">
                        <span>Clientes <br>Satisfechos</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>