<section id="contact-form-section" class="form-content-wrap top-bottom">
    <div class="container container-fluid p-0">
        <div class="col-md-12 text-center heading-section ftco-animate">
            <h2 class="mb-4 text-center">Contactate con Nosotros</h2>
        </div>
        <div class="row">
            <div class="tab-content">
                <div class="col-sm-12">
                    <div class="item-wrap">
                        <div class="row">
                            <div class="col-md-12">
                                <form id="contactForm" name="contactform" class="popup-form" (ngSubmit)="submit()"
                                    [formGroup]="forma">
                                    <div class="row justify-content-center">
                                        <div class="form-group col-sm-8">
                                            <input name="fname" id="fname" placeholder="Nombre y Apellido"
                                                class="form-control" type="text" formControlName="nombre">
                                            <small class="form-invalid" *ngIf="forma.controls['nombre'].errors?.required && forma.get('nombre').touched">*El campo es requerido</small>
                                        </div>
                                        <div class="form-group col-sm-8">
                                            <input name="email" id="email" placeholder="E-mail" class="form-control"
                                                type="email" formControlName="email">
                                            <small class="form-invalid" *ngIf="forma.controls['email'].errors?.required && forma.get('email').touched">*El campo es requerido</small>
                                            <small class="form-invalid" *ngIf="forma.controls['email'].errors?.email && forma.controls['email'].value != ''">*El formato es incorrecto</small>
                                        </div>
                                        <div class="form-group col-sm-8">
                                            <input name="phone" id="phone" placeholder="Teléfono" class="form-control"
                                                type="number" formControlName="telefono">
                                            <small class="form-invalid" *ngIf="forma.controls['telefono'].errors?.required && forma.get('telefono').touched">*El campo es requerido</small>
                                        </div>
                                        <div class="form-group col-sm-8">
                                            <input name="subject" id="subject" placeholder="Asunto" class="form-control"
                                                formControlName="asunto" type="text">
                                            <small class="form-invalid" *ngIf="forma.controls['asunto'].errors?.required && forma.get('asunto').touched">*El campo es requerido</small>
                                        </div>
                                        <div class="form-group col-sm-8">
                                            <textarea rows="3" name="message" id="message" placeholder="Mensaje"
                                                formControlName="mensaje" class="form-control"></textarea>
                                            <small class="form-invalid" *ngIf="forma.controls['mensaje'].errors?.required && forma.get('mensaje').touched">*El campo es requerido</small>
                                        </div>
                                        <div class="form-group last col-sm-8">
                                            <button type="submit" id="submit" class="btn btn-primary py-3 px-5" [hidden]="_http.loading">Enviar</button>
                                            <fa-icon [hidden]="!_http.loading" [icon]="faSpinner" [spin]="true" size="4x"></fa-icon>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div><!-- end row -->
                                </form><!-- end form -->
                            </div>
                        </div>
                        <!--End row -->
                    </div><!-- end item-wrap -->
                </div>
                <!--End col -->
            </div>
            <!--End tab-content -->
        </div>
        <!--End row -->
    </div>
    <!--End container -->
</section>