<section class="ftco-section ftco-no-pt ftco-margin-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="request-quote">
                    <div class="bg-primary py-4">
                        <span class="subheading">Cumplí tus sueños ahora</span>
                        <h3>Solicite un presupuesto</h3>
                    </div>
                    <form id="contactForm" name="contactform" data-toggle="validator" class="request-form ftco-animate">
                        <div id="msgContactSubmit" class="hidden"></div>
                        <div class="form-group">
                            <div class="help-block with-errors"></div>
                            <input type="text" class="form-control" name="fname" id="fname" required data-error="Ingresa tu Nombre y Apellido" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <div class="form-field">
                                <div class="form-group">
                                    <div class="help-block with-errors"></div>
                                    <input type="email" class="form-control" name="email" id="email" pattern=".*@\w{2,}\.\w{2,}" placeholder="E-mail" required data-error="Por favor ingresa un correo electrónico válido">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="help-block with-errors"></div>
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="Teléfono" required data-error="Por favor ingresa tu número de teléfono">
                        </div>
                        <div class="form-group">
                            <div class="help-block with-errors"></div>
                                <input name="subject" id="subject" placeholder="Asunto" class="form-control" type="text" required data-error="Por favor ingresa el asunto">
                            </div>
                        <div class="form-group">
                            <div class="help-block with-errors"></div>
                            <textarea name="message" id="message" cols="30" rows="2" class="form-control" placeholder="Escribinos" required data-error="Por favor ingresa un mensaje"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" id="submit" value="Enviar" class="btn btn-primary py-3 px-4">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-8 wrap-about py-5 ftco-animate">
          <div class="heading-section mb-5">
            <h2 class="mb-4">Por qué elegirnos</h2>
          </div>
          <div class="">
                        <p class="mb-5">Somos un equipo de gente de trabajo, dedicado a brindar soluciones prácticas y constructivas.
                        Nos destacamos por entregar nuestros proyectos en el menor tiempo posible. Utilizamos las mejores 
                        herramientas y la tecnología necesaria para garantizar que todos los trabajos se realicen rápida y eficazmente.
                        Contamos con asesores profesionales para proyectos de arquitectura, estudios de marcado y factibilidad, cálculos 
                        de estructuras, análisis de suelos, administración y documentación de obra.</p>
                        <p class="mb-5">Somos exigentes con nosotros mismos y mantenemos nuestro personal
                        capacitándose en nuevas tecnologías, sistemas constructivos, normativas y
                        sobre todo, manejamos una política de crecimiento personal para cada
                        empleado, generando un vínculo y confianza para mejorar el ambiente de
                        trabajo y a la vez la calidad de nuestras obras.</p>
                    </div>
                </div>
        </div>
    </div>
</section>