<section class="ftco-section ftco-no-pt ftco-margin-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="request-quote">
                    <div class="bg-primary py-4">
                        <span class="subheading">Cumplí tus sueños ahora</span>
                        <h3>Solicite un presupuesto</h3>
                    </div>
                    <form id="contactForm" name="contactform" class="request-form ftco-animate" (ngSubmit)="submit()" [formGroup]="forma">
                        <div class="form-group">
                            <input type="text" class="form-control" name="fname" id="fname" placeholder="Nombre" formControlName="nombre">
                            <small class="form-invalid" *ngIf="forma.controls['nombre'].errors?.required && forma.get('nombre').touched">*El campo es requerido</small>
                        </div>
                        <div class="form-group">
                            <div class="form-field">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" formControlName="email">
                                    <small class="form-invalid" *ngIf="forma.controls['email'].errors?.required && forma.get('email').touched">*El campo es requerido</small>
                                    <small class="form-invalid" *ngIf="forma.controls['email'].errors?.email && forma.controls['email'].value != ''">*El formato es incorrecto</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" name="phone" id="phone" placeholder="Teléfono" formControlName="telefono">
                            <small class="form-invalid" *ngIf="forma.controls['telefono'].errors?.required && forma.get('telefono').touched">*El campo es requerido</small>
                        </div>
                        <div class="form-group">
                                <input name="subject" id="subject" placeholder="Asunto" class="form-control" type="text" formControlName="asunto">
                                <small class="form-invalid" *ngIf="forma.controls['asunto'].errors?.required && forma.get('asunto').touched">*El campo es requerido</small>
                            </div>
                        <div class="form-group">
                            <textarea name="message" id="message" cols="30" rows="2" class="form-control" placeholder="Escribinos" formControlName="mensaje"></textarea>
                            <small class="form-invalid" *ngIf="forma.controls['mensaje'].errors?.required && forma.get('mensaje').touched">*El campo es requerido</small>
                        </div>
                        <div class="form-group">
                            <input type="submit" id="submit" value="Enviar" class="btn btn-primary py-3 px-4" [hidden]="_http.loading">
                            <fa-icon [hidden]="!_http.loading" [icon]="faSpinner" [spin]="true" size="4x"></fa-icon>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-8 wrap-about py-5 ftco-animate">
          <div class="heading-section mb-5">
            <h2 class="mb-4">Por qué elegirnos</h2>
          </div>
          <div class="">
                        <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, vel odit, tempore accusamus reprehenderit quod debitis quidem assumenda necessitatibus minima iure temporibus quasi perferendis dicta id reiciendis nihil placeat accusantium!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate odio asperiores recusandae corporis cumque eius rem tempora doloribus exercitationem officia possimus nihil optio, enim incidunt ex tenetur, nostrum dolor iure.</p>
                        <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum fugit consequatur architecto in expedita, facilis ipsa explicabo! Sint tempore dignissimos vero! Quia accusamus voluptate voluptates inventore accusantium expedita quidem sed.</p>
                    </div>
                </div>
        </div>
    </div>
</section>