<div class="bg-top navbar-light">
    <div class="container">
        <div class="row no-gutters d-flex align-items-center align-items-stretch">
            <div class="col-md-4 d-flex align-items-center py-4">
                <a class="navbar-brand" routerLink="/home"><img src="../../../assets/images/logo.png" alt="Mantelectrick"  /></a>
            </div>
            <div class="col-lg-8 d-block">
                <div class="row d-flex">
                    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
                        <div class="icon d-flex justify-content-center align-items-center"><a  href="mailto:obra@mantelectrick.com"><fa-icon [icon]="faEnvelope"></fa-icon></a></div>
                        <div class="text d-flex align-items-center">
                            <span>Correo electrónico</span>
                        </div>
                    </div>
                    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
                        <div class="icon d-flex justify-content-center align-items-center"><a href="tel:+5491123896955" target="_blank"><fa-icon [icon]="faPhone"></fa-icon></a></div>
                        <div class="text d-flex align-items-center">
                            <span>+54 9 11 2389 6955</span>
                        </div>
                    </div>
                    <div class="col-md topper d-flex align-items-center align-items-stretch">
                        <p class="mb-0 d-flex d-block">
                            <a routerLink="/contacto" class="btn btn-solicitar d-flex align-items-center justify-content-center">
                                <span>Solicite un presupuesto</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container align-items-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item" routerLinkActive="active"><a routerLink="/home" class="nav-link">Home</a></li>
            <li class="nav-item" routerLinkActive="active"><a routerLink="/quienes-somos" class="nav-link">Quienes somos</a></li>
            <li class="nav-item" routerLinkActive="active"><a routerLink="/proyectos" class="nav-link">Proyectos</a></li>
            <li class="nav-item" routerLinkActive="active"><a routerLink="/contacto" class="nav-link">Contacto</a></li>
        </ul>
      </div>
    </div>
  </nav>