<app-navbar></app-navbar>
<app-carousel></app-carousel>
<app-porque-elegirnos></app-porque-elegirnos>
<app-nuestros-servicios></app-nuestros-servicios>
<app-parallax></app-parallax>
<app-footer></app-footer>

<!-- <app-navbar></app-navbar>
<app-counter></app-counter>
<app-quienes-somos></app-quienes-somos>
<app-footer></app-footer> -->

<!-- <app-navbar></app-navbar>
<app-proyectos-realizados></app-proyectos-realizados>
<app-footer></app-footer> -->

<!-- <app-navbar></app-navbar>
<app-contacto></app-contacto>
<app-footer></app-footer> -->
