<section class="ftco-section">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-5 p-md-5 img img-2 mt-5 mt-md-0"
                style="background-image: url(../../../assets/images/bg_2.jpg);">
            </div>
            <div class="col-md-7 wrap-about py-5 px-4 px-md-5 ftco-animate">
                <div class="heading-section mb-5">
                    <h2 class="mb-4">Quienes somos</h2>
                </div>
                <div class="">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque, non autem? Nisi dignissimos
                        praesentium repudiandae cupiditate rem iure alias cumque quos dolor, modi iste. Vel reiciendis
                        provident perspiciatis quam commodi?</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores vel natus voluptatibus
                        molestiae sint, provident tempora, atque, nesciunt quod quisquam quaerat perspiciatis laboriosam
                        reiciendis eos sit voluptate illum blanditiis. Dignissimos.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus vero doloribus non aliquid
                        suscipit iure quos maiores laudantium ad nesciunt accusantium aperiam, nisi itaque, nihil eos
                        officia ea reiciendis impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aliquid, ut id excepturi quis itaque mollitia eos hic iste magnam delectus. Veritatis,
                        architecto quis iusto corrupti dignissimos voluptate quisquam quo omnis!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam voluptas iusto odit natus maiores
                        similique delectus ducimus a eos aliquam suscipit quaerat excepturi tempora, esse nam omnis.
                        Deleniti, dolorum culpa!</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae quod quas, eius iure dolor
                        vitae incidunt officiis atque, rem commodi voluptas fugiat vel maxime ad tenetur inventore
                        distinctio doloremque optio! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
                        itaque quibusdam distinctio consectetur libero similique dolores ut illum amet laudantium quae,
                        doloribus voluptatibus totam cum facere sed, sit neque quasi!</p>
                </div>
            </div>
        </div>
    </div>
</section>