<section class="ftco-section">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-5 p-md-5 img img-2 mt-5 mt-md-0"
                style="background-image: url(../../../assets/images/bg_2.jpg);">
            </div>
            <div class="col-md-7 wrap-about py-5 px-4 px-md-5 ftco-animate">
                <div class="heading-section mb-5">
                    <h2 class="mb-4">Quienes somos</h2>
                </div>
                <div class="">
                    <p>Nos caracterizamos por resolver desafíos <i>non stop</i>, las oficinas de Peya Cerrito de 500m2 se construyeron en una semana. Se realizaron mobiliarios nuevos,
                        eléctrica, pintura, armado de sector comedor, cableado RJ con su respectiva rakera, un proceso <i>just in time</i>.</p>
                </div>
                <div class="heading-section mb-5 mt-5">
                    <h2 class="mb-4">Algunas empresas que confían en nosotros</h2>
                </div>
                <div class="">
                    <p>Nos caracterizamos por resolver desafíos <i>non stop</i>, las oficinas de Peya Cerrito de 500m2 se construyeron en una semana. Se realizaron mobiliarios nuevos,
                        eléctrica, pintura, armado de sector comedor, cableado RJ con su respectiva rakera, un proceso <i>just in time</i>.</p>
                    <img src="../../../assets/images/empresas/greenpeace.jpg" class="img-fluid" width="200"/>
                    <img src="../../../assets/images/empresas/pedidosya.jpg" class="img-fluid" width="200"/>
                    <img src="../../../assets/images/empresas/starbucks.png" class="img-fluid" width="150"/>
                    <img src="../../../assets/images/empresas/santander.png" class="img-fluid" width="200"/>
                    <img src="../../../assets/images/empresas/walmart.jpg" class="img-fluid" width="200"/>
                    <img src="../../../assets/images/empresas/quilmes.jpg" class="img-fluid" width="150"/>
                </div>
            </div>
        </div>
    </div>
</section>