<section class="ftco-section">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-5 p-md-5 img img-2 mt-5 mt-md-0" style="background-image: url(../../../assets/images/bg_2.jpg);">
            </div>
            <div class="col-md-7 wrap-about py-5 px-4 px-md-5 ftco-animate">
                <div class="heading-section mb-5">
                    <h2 class="mb-4">Quienes somos</h2>
                </div>
                <div class="">
                    <p>Somos una empresa en crecimiento constante. Nacemos como firma en el año 2015, de la mano de
                        profesionales con más de 20 años de experiencia en el rubro de proyecto, dirección y ejecución
                        de obras civiles, industriales y comerciales.</p>
                    <p>Cada proyecto nuevo lo tomamos como un desafío para nuestras capacidades, tratando de innovar en
                        los detalles y llevando cada vez más allá los elementos que componen una obra terminada con
                        éxito.</p>
                    <p>Somos exigentes con nosotros mismos y mantenemos nuestro personal capacitándose en nuevas
                        tecnologías, sistemas constructivos, normativas y sobre todo, manejamos una política de
                        crecimiento personal para cada empleado, generando un vínculo y confianza para mejorar el
                        ambiente de trabajo y a la vez la calidad de nuestras obras.</p>
                    <p>Tenemos como misión, el cumplir en tiempo y forma con los proyectos que encaramos, sean
                        desarrollo propio o nos hayan contratado para concretar uno.</p>
                    <p>Vemos el futuro de la construcción como una oportunidad de ser respetuosos con el medio ambiente,
                        aprovechar las nuevas tecnologías y explotar las energías renovables. Manteniéndonos
                        competitivos y a la vanguardia de los nuevos requerimientos.</p>
                </div>
            </div>
        </div>
    </div>
</section>