<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
      <div class="row mb-auto">
        <div class="col-md">
          <div class="ftco-footer-widget mb-5">
            <a routerLink="/home"><img src="../../../assets/images/logo_2.png" alt="Mantelectrick" /></a>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-5">
              <ul class="ftco-footer-social list-unstyled float-md-right float-lft mt-3">
              <li class="ftco-animate"><a href="https://www.facebook.com/pages/category/Product-Service/Mantelectrick-1734823916742854/?locale2=es_LA" target="_blank"><fa-icon [icon]="faFacebook" size="3x"></fa-icon></a><p>Facebook</p></li>
              <li class="ftco-animate"><a href="https://www.instagram.com/mantelectrick_ok/" target="_blank"><fa-icon [icon]="faInstagram" size="3x"></fa-icon></a><p>Instagram</p></li>
              <li class="ftco-animate"><a href="https://api.whatsapp.com/send?phone=541157483031" target="_blank"><fa-icon [icon]="faWhatsapp" size="3x"></fa-icon></a><p>Ventas</p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>